 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 345px;
}

.u-section-1 .u-group-1 {
  width: 1072px;
  min-height: 284px;
  height: auto;
  margin: 31px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 137px;
  width: 137px;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-style: italic;
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 41px;
  width: 41px;
  margin: 22px 9px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-group-1 {
    min-height: 277px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-group-1 {
    min-height: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1 .u-group-1 {
    min-height: 108px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-1 .u-group-1 {
    min-height: 68px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 350px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 26px 364px 0 17px;
}

.u-section-2 .u-image-1 {
  width: 295px;
  height: 275px;
  margin: -241px 52px 38px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 333px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -291px;
    margin-right: 0;
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
    margin-right: 272px;
  }

  .u-section-2 .u-image-1 {
    width: 242px;
    height: 226px;
    margin-top: -323px;
    margin-right: 14px;
    margin-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 208px;
    height: 194px;
    margin-top: 17px;
    margin-right: 161px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 179px;
    height: 179px;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 39px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1173px;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 493px;
  margin: 21px auto 0 31px;
}

.u-section-3 .u-image-2 {
  width: 539px;
  height: 753px;
  margin: -339px 31px 0 auto;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  margin: -393px 661px 0 56px;
}

.u-section-3 .u-image-3 {
  width: 508px;
  height: 321px;
  margin: 57px auto 0 31px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: -38px 130px 0 669px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 9px 661px 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-3 .u-image-1 {
    width: 392px;
    height: 482px;
    margin-left: 40px;
  }

  .u-section-3 .u-image-2 {
    width: 443px;
    height: 639px;
    margin-top: -261px;
    margin-right: 40px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -357px;
    margin-right: 492px;
    margin-left: 24px;
  }

  .u-section-3 .u-image-3 {
    width: 392px;
    height: 307px;
    margin-top: 49px;
    margin-left: 40px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -36px;
    margin-right: 91px;
    margin-left: 508px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: 55px 492px 0 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-3 .u-image-1 {
    width: 279px;
    height: 322px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-2 {
    width: 385px;
    height: 513px;
    margin-top: -228px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -258px;
    margin-right: 425px;
  }

  .u-section-3 .u-image-3 {
    width: 279px;
    height: 207px;
    margin-top: 41px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -95px;
    margin-right: 42px;
    margin-left: 337px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 65px;
    margin-right: 435px;
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-3 .u-image-1 {
    width: 210px;
    height: 262px;
  }

  .u-section-3 .u-image-2 {
    width: 275px;
    height: 362px;
    margin-top: -155px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -187px;
    margin-right: 320px;
    margin-left: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 210px;
    height: 138px;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -66px;
    margin-right: 33px;
    margin-left: 258px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 31px;
    margin-right: 316px;
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2032px;
  }

  .u-section-3 .u-image-1 {
    width: 233px;
    height: 291px;
    margin-top: 26px;
    margin-left: 42px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 513px;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -845px;
    margin-right: 86px;
    margin-left: 64px;
  }

  .u-section-3 .u-image-3 {
    width: 275px;
    height: 182px;
    margin-top: 30px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-2 {
    width: 250px;
    margin-top: 527px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin: -563px 82px 60px 59px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1828px;
}

.u-section-4 .u-image-1 {
  width: 517px;
  height: 441px;
  margin: -128px 31px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 529px;
  height: 697px;
  margin: -300px auto 0 31px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  margin: -373px 78px 0 638px;
}

.u-section-4 .u-image-3 {
  width: 517px;
  height: 392px;
  margin: 58px 31px 0 auto;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: -104px 618px 0 92px;
}

.u-section-4 .u-image-4 {
  width: 539px;
  height: 414px;
  margin: 58px auto 0 31px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  margin: -395px 78px 0 638px;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 357px 630px 0 80px;
}

.u-section-4 .u-image-5 {
  width: 517px;
  height: 625px;
  margin: -334px 31px 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 22px 74px 0 635px;
}

.u-section-4 .u-image-6 {
  width: 480px;
  height: 480px;
  margin: -356px auto 0 55px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-4 .u-image-1 {
    width: 411px;
    height: 297px;
    margin-top: -36px;
    margin-right: 40px;
  }

  .u-section-4 .u-image-2 {
    width: 412px;
    height: 563px;
    margin-top: -166px;
    margin-left: 40px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -357px;
    margin-right: 34px;
    margin-left: 483px;
  }

  .u-section-4 .u-image-3 {
    width: 411px;
    height: 329px;
    margin-top: 88px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -62px;
    margin-right: 470px;
    margin-left: 40px;
  }

  .u-section-4 .u-image-4 {
    width: 412px;
    height: 294px;
    margin-top: 52px;
    margin-left: 40px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -266px;
    margin-right: 34px;
    margin-left: 483px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 244px;
    margin-right: 479px;
    margin-left: 31px;
  }

  .u-section-4 .u-image-5 {
    width: 411px;
    height: 555px;
    margin-top: -217px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 31px;
    margin-right: 54px;
    margin-left: 502px;
  }

  .u-section-4 .u-image-6 {
    width: 436px;
    height: 459px;
    margin-top: -374px;
    margin-bottom: 10px;
    margin-left: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-4 .u-image-1 {
    width: 392px;
    height: 262px;
    margin-top: -719px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-2 {
    width: 272px;
    height: 377px;
    margin-top: -119px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -244px;
    margin-right: 41px;
    margin-left: 333px;
  }

  .u-section-4 .u-image-3 {
    width: 392px;
    height: 280px;
    margin-top: 18px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -114px;
    margin-right: 433px;
    margin-left: 33px;
  }

  .u-section-4 .u-image-4 {
    width: 272px;
    height: 194px;
    margin-top: 64px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -209px;
    margin-right: 55px;
    margin-left: 347px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 148px;
    margin-right: 424px;
    margin-left: 23px;
  }

  .u-section-4 .u-image-5 {
    width: 392px;
    height: 476px;
    margin-top: -158px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 15px;
    margin-right: 27px;
    margin-left: 319px;
  }

  .u-section-4 .u-image-6 {
    width: 287px;
    height: 319px;
    margin-top: -302px;
    margin-left: -18px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-4 .u-image-1 {
    width: 285px;
    height: 190px;
    margin-top: -190px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    width: 208px;
    height: 260px;
    margin-top: -73px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -179px;
    margin-right: 28px;
    margin-left: 245px;
  }

  .u-section-4 .u-image-3 {
    width: 285px;
    height: 196px;
    margin-top: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -79px;
    margin-right: 307px;
    margin-left: 18px;
  }

  .u-section-4 .u-image-4 {
    width: 208px;
    height: 168px;
    margin-top: 23px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -168px;
    margin-right: 35px;
    margin-left: 252px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 90px;
    margin-right: 305px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-5 {
    width: 282px;
    height: 370px;
    margin-top: -128px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 12px;
    margin-right: 26px;
    margin-left: 252px;
  }

  .u-section-4 .u-image-6 {
    width: 247px;
    height: 228px;
    margin-top: -194px;
    margin-left: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -708px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 249px;
    height: 310px;
    margin-top: 93px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    width: 267px;
    margin-top: -394px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    height: 197px;
    margin-top: 486px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 253px;
    margin-top: -355px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-4 {
    width: 287px;
    height: 208px;
    margin-top: 966px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: 253px;
    margin-top: -856px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 219px;
    margin-top: 807px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    margin-top: -832px;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: 263px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-6 {
    margin-top: 370px;
    margin-bottom: 44px;
    margin-left: 37px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 344px;
}

.u-section-5 .u-group-1 {
  width: 708px;
  min-height: 344px;
  height: auto;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 22px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 34px auto 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 25px 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-group-1 {
    width: 624px;
    min-height: 345px;
    margin-top: 1px;
    margin-right: 116px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-5 .u-group-1 {
    width: 573px;
    min-height: 339px;
    margin-bottom: 1px;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 494px;
    min-height: 328px;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-5 .u-group-1 {
    width: 233px;
    min-height: 116px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.75rem;
    padding: 8px 26px 9px 25px;
  }
}